/* Style the answers grid */
.card{
    margin: auto;
    width: fit-content;
}
.quizz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin:  25px auto;
    padding: 10px;
    border-radius: 5px;
    border: var(--secondary-color) solid 2px;
    box-shadow: var(--secondary-color) 0px 0px 10px 0px;
}

/* Style the answers grid */
.container {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 5px;
    justify-items: center;
    width: fit-content;
}

h1{
    font-size: 40px;
    font-family: 'Figtree', sans-serif;
}

h2{
    font-size: 30px;
}

.selected{
    border: #C1666B solid 2px;
}

.custom-button {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: transparent;
    padding: 30px 100px;
    margin: 10px 0;
    cursor: pointer;
    color: var(--primary-color);
}

.custom-button.selected {
    background-color: var(--secondary-color); /* Change to your desired selected background color */
    color: var(--primary-color); /* Change to your desired selected text color */
}
  