<div class="content">
    <form [formGroup]="signup">
        <h1 class="text-color bold is-left">Sign Up</h1>
        <mat-form-field>
            <input matInput class="pseudo-input" placeholder="Pseudo" type="text" formControlName="pseudo" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <!-- *ngIf="!passwordInput.value" -->
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Confirm password" [type]="hide2 ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            <!-- *ngIf="!passwordInput.value" -->
        </mat-form-field>
        <button class="custom-btn">Sign Up</button>
        <p class="text-color">Don't Have an Account? <a routerLink="/log-in" class="text-color bold">Log In</a></p>
    </form>
</div>