<div>
    <div class="card">
        <div class="quizz-container">
            <h1 class="primary-color is-center">Q.{{questionId}}</h1>

            <h2 class="text-color is-center">{{question.question}}</h2>
            <app-answers [answers]="question.answers" [questionId]="questionId" [quiz]="quiz" (selectedEmitter)="recieveData($event)" (formEmitter)="recievedForm($event)"></app-answers>
            
            <div *ngIf="isSelected && validForm" class="container">
                <button (click)="onSubmit()" class="custom-btn">Valider</button>
            </div>   
            <div *ngIf="isSelected && !validForm" class="container">
                <button (click)="nextQuestion()" class="custom-btn">Next</button>
            </div>
        </div>
    </div>
</div>
