.custom-button {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: transparent;
    padding: 30px 100px;
    margin: 10px 0;
    cursor: pointer;
    color: var(--primary-color);
}

.custom-button.selected {
    background-color: var(--secondary-color); /* Change to your desired selected background color */
    color: var(--primary-color); /* Change to your desired selected text color */
}
  